:root {
    --columns-row: 4;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
    height: 500px;
    width:  500px;
    float: none;
    background-color: blanchedalmond;

}

div {
    /* width: 50%%;
    height: 50%%; */
    outline: 1px dotted;
    
    
    
}

#bottom{
    background-color: rgb(151, 151, 100);
    min-height: 15vh;
    width: 100vw;
}



.grid-item{
    border-color: black;
}
.grid-item-hover{
    background-color: black;
}


button {
    float: right;
    margin: auto 350px;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.top{
    margin-bottom: 50px;
    height: 10vh;
    width: 100vw;
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-family: Helvetica;
    margin-top: 0px;
}